  <link rel="icon" type="image/png" href="{{ "/mrid-favicon/favicon-96x96.png" | relative_url }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href= "{{ "/mrid-favicon/favicon.svg" | rleative_url }}"  />
  <link rel="shortcut icon" href="/mrid-favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/mrid-favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="mridnotes" />
  <link rel="manifest" href="/mrid-favicon/site.webmanifest" /> 